.lucky {
  margin-top: 24px;
  margin-bottom: 100px;
}
.table > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px !important;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
.table {
  border: 1px solid #fafa;
  border-radius: 10px;
}
.btn-lucky {
  padding: 10px 12px;
}
@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

.number {
  animation: counter 0.25s infinite alternate ease-in-out;
  counter-reset: num var(--num);
  font: 800 40px system-ui;
  display: inline-block;
  border: 1px solid #eeeeee;
  margin-bottom: 16px;
  padding: 1rem;
  border-radius: 5px;
  &.active {
    animation: initial;
    &::after {
      content: '';
    }
  }
  &.second {
    animation-duration: 0.2s;
  }
  &.third {
    animation-duration: 0.17s;
  }
  &.fourth {
    animation-duration: 0.14s;
  }
  &.fifth {
    animation-duration: 0.1s;
  }
}
.number::after {
  content: counter(num);
}

@keyframes counter {
  from {
    --num: 0;
  }
  to {
    --num: 9;
  }
}
.avatar {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
  display: inline-block;
}

.avatar img {
  width: 100%;
  object-fit: cover;
}

.infor {
  margin-left: 10px;
}
.caption {
  margin: initial;
}
.about {
  margin-top: 10px;
  justify-content: center;
}

.about > div {
  width: 45%;
}

.about > div > .symbol {
  font-weight: bold;
  margin-bottom: initial;
}

.about > div > .total {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  color: rebeccapurple;
}
p.lucky-result {
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #f3ba30;
  display: inline-block;
  font-weight: bold;
  background: #f3ba30;
}
@media screen and (max-width: 410px) {
  .number {
    padding: 0.6rem;
  }
}
